$hw: $touch-width
$hh: $touch-height
$sw: $touch-width*.3
$sh: $touch-height

.rs-controls
    color: #000a

.rs-hint-bot
    width: $hw
    height: $hh
    box-shadow: 0 -1.2rem 1rem -.5rem
    position: fixed
    margin: auto
    bottom: (-$hh)
    right: 0
    left: 0
    transition-property: box-shadow, color
    transition-duration:  0.1s

.rs-next, .rs-prev, .rs-star
    position: fixed
    height: $touch-height
    bottom: 0
    cursor: pointer

.rs-star
    width: $touch-width
    right: 0
    left: 0
    margin: auto
    &:hover ~ .rs-hint-bot 
        box-shadow: 0 (-$sh) $sw (-$sw/2)
        color: #ff0b !important

.rs-next
    right: 0
    width: 50%
    &:hover ~ .rs-hint-bot 
        box-shadow: 0 (-$sh) $sw (-$sw/2)
        color: #0ffb !important

.rs-prev
    left: 0
    width: 50%
    &:hover ~ .rs-hint-bot 
        box-shadow: 0 (-$sh) $sw (-$sw/2)
        color: #0ffb !important

.rs-feed
    .rs-link
        color: inherit
        text-decoration: none
.rs-header
    padding: .5rem 0
    margin-bottom: 1rem
    //background-color: #ffb
    box-shadow: 0 0 .2rem 0 #000
    .rs-in
        max-width: $header-max-width
        margin: 0 auto

.rs-title
    margin: 0

.rs-content
    max-width: $feed-max-width
    margin: 0 auto
