doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width,initial-scale=1.0')
        link(rel='icon' href='favicon.png')
        link(rel='stylesheet' href='styles.css')
        base(target='_blank')

        title RSSS
    body
        main
            .rs-sources
                .rs-tags
                .rs-cards
            .rs-feed(style='display: none')
                a.rs-link
                    .rs-header
                        .rs-in
                            h2.rs-title
                .rs-content
                .rs-controls
                    .rs-prev
                    .rs-next
                    .rs-star
                    .rs-hint-bot

            div(style='display: none')
                .rs-tag
                    span.stitle
                    span.sstars
                    span.sunseen
                .rs-card
                    .stitle
                    .sunseen
                    .sstars
                    .sinfo

        script(type='text/javascript').
            config = {
                RSSS_URL: '$RSSS_URL'
            }
        script(src='app.js')