doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width,initial-scale=1.0')
        link(rel='icon' href='favicon.png')
        link(rel='stylesheet' href='bootstrap.css')
        link(rel='stylesheet' href='styles.css')
        base(target='_blank')

        title RSSS
    body
        main
            #sources.text-center
                #cards.justify-content-center.d-flex.flex-wrap
            .container
                #feed.d-none
                    .row
                        a#url.col-12
                            h2#title titulo
                    .row.justify-content-left
                        .col-8
                            hr
                    .row
                        #content.col-12 contenido

            .d-none
                #card-template.fcard
                    span.src-source_id [source_id]
                    span  @ 
                    span.src-count [count]
                    span  - 
                    span.src-unseen [unseen]
                    span  - 
                    span.src-stars [stars]
                    span  @ 
                    span.src-lang [lang]
                    .src-url [url]
                    .src-title [title]
                    .src-description [description]
                    .src-siteUrl [siteUrl]
        script(src="app.js")