.scard
    margin: .3rem
    width: 10rem
    height: 10rem
    border: .1rem solid rgba(0,0,0,0.2)
    border-radius: .5rem
    cursor: pointer
    position: relative
    overflow: hidden

.serror
    background-color: rgba(255,0,0,.5) !important

.sinfo
    background-color: rgba(0,255,0,.5)
    border-radius: 0 0 0 2rem
    position: absolute
    top: 0rem
    right: 0rem
    padding: 0rem .3rem
    height: 2rem
    width: 2rem

.sstars
    border-top: .1rem solid rgba(0,0,0,0.2)
    border-right: .1rem solid rgba(0,0,0,0.2)
    background-color: white
    border-radius: 0 .5rem 0 0
    position: absolute
    bottom: 0rem
    left: 0rem
    padding: 0rem .3rem

.sunseen
    border-top: .1rem solid rgba(0,0,0,0.2)
    border-left: .1rem solid rgba(0,0,0,0.2)
    background-color: white
    border-radius: .5rem 0 0 0
    position: absolute
    bottom: 0rem
    right: 0rem
    padding: 0rem .3rem
